<!DOCTYPE html>
<html>
<head>
	<title>BLOOD DONORS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		.marg{
			margin-left: 5px;
			margin-right: 5px;
		}
		.hov:hover{
			color: white;
			text-shadow: 0.5px 0.5px 0.5px #000;
			text-decoration: none;
		}
		.hov2:hover{
			color: green;
			text-decoration: none;
		}
		body{
			font-family: lato !important;
		}
		.modal {
		    overflow-y: auto;
		}
	</style>
</head>
<body>
<div id="menu" >
	<nav class="navbar navbar-expand-md" style="background: hsl(0, 0%, 78%);width: 100%">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbarleft">
	      <a href="/home"><img class="navbar-brand" src="/public/logo.PNG" alt="logo"></a>
	      <ul class="navbar-nav mr-auto text-center">
	        <li class="nav-item marg"><a class="nav-link hov" href="/blood_donors"  style="color: white;text-shadow: 0.5px 0.5px 0.5px #000;text-decoration: none;">BLOOD DONORS</a></li>
	        <li class="w3-dropdown-hover nav-item marg">
	        	<a class="nav-link hov" href="/about">ABOUT</a>
	        	<ul id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom dropdown-menu">
	              <li><a class="dropdown-item w3-button" href="#">About Us</a></li>
	              <li><a class="dropdown-item w3-button" href="#">Contact Us</a></li>
	            </ul>
	        </li>
	      </ul>
	    </div>
	  <div class="collapse navbar-collapse" id="myNavbarright">
	      <ul class="navbar-nav ml-auto text-center">
	        <li class="nav-item marg"><a class="nav-link hov"  data-toggle="modal" data-target="#loginModal" data-keyboard="true"  href="#">LOGIN</a></li>
	        <li class="nav-item marg"><a class="nav-link hov" data-toggle="modal" data-target="#signupModal" data-keyboard="true" href="#">SIGNUP</a></li>
	      </ul>
	    </div>
			</div>
	  </div>
	</nav>
</div>
<div class="modal fade text-center" id="loginModal">
 <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mx-auto">LOGIN</h4>
      </div>
      <div class="modal-body">
      <form name="loginform" id="login" onsubmit="return login_check();" enctype="application/x-www-form-urlencoded" action="/login" method="post">
          <div class="form-group">
            <input type="text" id="lg_un" onfocus="document.getElementById('logn_check').innerHTML='';" class="form-control" name="username" placeholder="Enter Username" required="true">
          </div>
          <div class="form-group">
            <input type="password" id="lg_pwd" onfocus="document.getElementById('logn_check').innerHTML='';" class="form-control" name="password" placeholder="Enter Password" required="true">
          </div>
					<p id="logn_check" style="color:red;"></p>
          <div class="form-group form-check" style="float: left;">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" onclick="chekbox()" id="chkbox" name="remember"> Remember me
        </label>
      </div>
          <button type="submit" class="btn btn-success btn-block">LOGIN</button>
       </form>
      </div>
      <div class="modal-footer">
       <span><a href="#" onclick="event.preventDefault();$('#loginModal').modal('hide');$('#forgpassModal').modal('show');" style="color: green;float: right;"><em>Forgot Password?</em></a><br/>
       <em>Not a member,Register from <a style="color: green;" onclick="event.preventDefault();$('#loginModal').modal('hide');$('#signupModal').modal('show');" href="#">HERE</a></em></span>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="signupModal">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title mx-auto">SIGNUP AS</h4>
    </div>
    <div class="modal-body">
    <div class="row">
    <div class="col-sm-6">
    <a href="#" onclick="event.preventDefault();$('#signupModal').modal('hide');$('#docModal').modal('show');">
    <img src="/public/doctor.PNG" class="img-thumbnail">
    </a>
    <p style="text-align: center;">DOCTOR</p>
    </div>
    <div class="col-sm-6">
    <a href="#" onclick="event.preventDefault();$('#signupModal').modal('hide');$('#patModal').modal('show');">
    <img src="/public/patient.png" class="img-thumbnail">
    </a>
    <p style="text-align: center;">USER</p>
    </div>
    </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade text-center" id="docModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title mx-auto">DOCTOR REGISTERATION</h4>
        </div>
        <div class="modal-body">
        <form name="docregform" id="docreg" action="/docreg" enctype="multipart/form-data" onsubmit="email_check(1);uname_check(1);return (a+b==0);" method="post">
          <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Enter your Name" required="true">
            </div>
            <div class="form-group">
              <input type="text"  pattern="(\+\d{1,2}[- ]?)?\d{10}" onfocus="setCustomValidity('')" oninvalid="setCustomValidity('Please enter a valid mobile number')" class="form-control" name="mobile" placeholder="Enter Mobile Number" required="true">
            </div>
          <p id="email_err1" style="color:red;"></p>
            <div class="form-group">
              <input id="email1" type="email" class="form-control" name="email" placeholder="Enter Email" onblur="email_check(1)" onfocus="document.getElementById('email_err1').innerHTML='';" required="true">
            </div>
            <div class="form-group">
              <label for="file">Upload image of MBBS Certificate</label>
              <input type="file" class="form-control" name="file1" accept="image/*" required="true">
            </div>
         <p id="uname_err1" style="color:red;"></p>
             <div class="form-group">
              <input id="uname1" type="text" class="form-control" name="username" minlength="5" onfocus="document.getElementById('uname_err1').innerHTML='';" onblur="uname_check(1)" pattern="[A-Za-z][A-Za-z0-9]*" title="It should start with an alphabet and contain only alphabets(capital or small) or numbers and minimum length is 5" placeholder="Enter Username" required="true">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="It should contain atleast one capital alphabet,one small alphabet,one number and minimum length is 8" placeholder="Enter Password" required="true">
            </div>
            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="Donor" onchange="
            if(this.checked == true)
            { document.getElementById('bg1').style.display = 'block';
              document.getElementById('bg_inp1').setAttribute('required','true');}
              else
              {document.getElementById('bg1').style.display = 'none';
                document.getElementById('bg_inp1').setAttribute('required','false');}"> Want to donate blood
            </label>
            </div>
            <div id="bg1" class="form-group" style="display:none;">
             <input id="bg_inp1" type="text" class="form-control" name="bloodgrp" maxlength="3" pattern="[A|B|O|AB]{1,2}[+-]{1}" title="It should contain only blood group(in capital) and rh factor(+/-) without spaces" placeholder="Enter Bloodgroup">
           </div>
              <button type="submit" class="btn btn-success btn-block">SIGNUP</button>
         </form>
        </div>
        <div class="modal-footer">
         <em class="mr-auto">Your personal details are not visible to others unless you share with them</em>
        </div>
      </div>
    </div>
 </div>
 <div class="modal fade text-center" id="patModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title mx-auto">USER REGISTERATION</h4>
        </div>
        <div class="modal-body">
        <form name="patregform" id="patreg" action="/patreg" enctype="application/x-www-form-urlencoded" method="post" onsubmit="email_check(2);uname_check(2);return (a+b == 0);">
          <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Enter your Name" required="true">
            </div>
            <div class="form-group">
              <input type="text" pattern="(\+\d{1,2}[- ]?)?\d{10}" onfocus="setCustomValidity('')" oninvalid="setCustomValidity('Please enter a valid mobile number')" class="form-control" name="mobile" placeholder="Enter Mobile Number" required="true">
            </div>
          <p id="email_err2" style="color:red;"></p>
            <div class="form-group">
              <input id="email2" type="email" class="form-control" name="email" placeholder="Enter Email" onfocus="document.getElementById('email_err2').innerHTML='';" onblur="email_check(2)" required="true">
            </div>
          <p id="uname_err2" style="color:red;"></p>
            <div class="form-group">
              <input id="uname2" type="text" class="form-control" name="username" minlength="5" pattern="[A-Za-z][A-Za-z0-9]*" onfocus="document.getElementById('uname_err2').innerHTML='';" onblur="uname_check()" title="It should start with an alphabet and contain only alphabets(capital or small) or numbers and minimum length is 5" placeholder="Enter Username" required="true">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="It should contain atleast one capital alphabet,one small alphabet,one number and minimum length is 8" placeholder="Enter Password" required="true">
            </div>
            <div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="Donor" onchange="
            if(this.checked == true)
            { document.getElementById('bg2').style.display = 'block';
              document.getElementById('bg_inp2').setAttribute('required','true');}
              else
              {document.getElementById('bg2').style.display = 'none';
                document.getElementById('bg_inp2').setAttribute('required','false');}"> Want to donate blood
            </label>
            </div>
            <div id="bg2" class="form-group" style="display:none;">
             <input id="bg_inp2" type="text" class="form-control" name="bloodgrp" maxlength="3" pattern="[A|B|O|AB]{1,2}[+-]{1}" title="It should contain only blood group(in capital) and rh factor(+/-) without spaces" placeholder="Enter Bloodgroup">
           </div>
            <button type="submit" class="btn btn-success btn-block">SIGNUP</button>
         </form>
        </div>
        <div class="modal-footer">
         <em class="mr-auto">Your personal details are not visible to others unless you share with them</em>
        </div>
      </div>
    </div>
 </div>
 <div class="modal fade" id="forgpassModal">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-body">
       <div class="modal-header">
          <h4 class="modal-title mx-auto">FORGOT PASSWORD</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <input type="email" class="form-control" id="forgemail" onfocus="document.getElementById('emailerr').style.display = 'none';" placeholder="Enter your registered email" required="true">
            </div>
            <p style="color: red;display: none;" id='emailerr'></p>
            <button type="submit" class="btn btn-success btn-block" onclick="forgpass()">CONTINUE</button>
        </div>
       </div>
     </div>
   </div>
</div>
<div class="modal fade" id="reqfailModal">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-body">
       <p style="text-align:center;">PLEASE LOGIN TO REQUEST</p>
       </div>
     </div>
   </div>
</div>
<div class="row" style="margin-top:20px">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 container-fluid">
  	<div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light text-center">
        <tr>
          <th>S.No.</th>
          <th>Name Of Donor</th>
          <th>Blood Group</th>
          <th>Request Contact Details</th>
        </tr>
      </thead>
      <tbody class="text-center" id="bldgrp_table">
        
      </tbody>
    </table>
  </div>
  <p id="bg_empty" style="text-align:center;">
    <img src="/public/loader.gif" alt="loading" class="mx-auto" style="width:55px;margin-top: 200px;margin-bottom: 200px;">
  </p>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row container-fluid" style="padding: 10px;background: hsl(0, 0%, 78%);margin-top: 20px;position: fixed;bottom: 0;">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row container-fluid" style="text-align: center;">
      <div class="col-sm-4">
        <h4 style="color: green;">MEDICULLY</h4><br/>
        <p><a href="/home" class="hov">Home</a></p>
        <p><a href="/blood_donors" class="hov">Blood Donors</a></p>
        <p><a href="#" data-toggle="modal" data-target="#loginModal" data-keyboard="true" class="hov">Login</a></p>
        <p><a href="#" data-toggle="modal" data-target="#signupModal" data-keyboard="true" class="hov">Signup</a></p>
      </div>
      <div class="col-sm-4">
        <h4 style="color: green;">ABOUT</h4><br/>
        <p><a href="/about" class="hov">About Us</a></p>
        <p><a href="#" class="hov">Privacy Policy</a></p>
        <p><a href="#" class="hov">Terms Of Service</a></p>
        <p><a href="/about" class="hov">Contact Us</a></p>
      </div>
      <div class="col-sm-4">
         <h4 style="color: green;">CONNECT</h4><br/>
        <p><a href="#" class="hov"><i class="fa fa-facebook-official" style="font-size:25px;cursor:pointer" title="Facebook"></i>&nbsp;&nbsp;Facebook</a></p>
        <p><a href="#" class="hov"><i class="fa fa-instagram" style="font-size:25px;cursor:pointer" title="Instagram"></i>&nbsp;&nbsp;Instagram</a></p>
        <p><a href="#" class="hov"><i class="fa fa-twitter-square" style="font-size:25px;cursor:pointer" title="Twitter"></i>&nbsp;&nbsp;Twitter</a></p>
        <p><a href="#" class="hov"><i class="fa fa-youtube" style="font-size:25px;cursor:pointer;" title="Youtube"></i>&nbsp;&nbsp;Youtube</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="container-fluid">
    <p style="text-align: center;font-size: 17px;"><em>All CopyRights Reserved.<b> Medicully ©2018</b></em></p>
  </div>
</div>
<script type="text/javascript">
var a=0, b=0, data=[],x='',bg_data1=[],bg_data2=[];
$(document).ready(function(){
  //console.log("inside js");
  var xhttp = new XMLHttpRequest();
  xhttp.open('GET','/blood_dnrs',true);
  xhttp.send();
  xhttp.onreadystatechange = function(){
    if(this.readyState==4 && this.status == 200){
      //console.log(this.responseText);
      data =JSON.parse(this.responseText);
    //  console.log(data);
      bg_data1 = data[0];
      bg_data2 = data[1];
    //  console.log(bg_data1);
    //  console.log(bg_data2);
      if(bg_data1.length+bg_data2.length != 0)
      {
         for(var i=0;i<bg_data1.length;i++)
         {
           x += "<tr>"+
              "<td>"+ (i+1) +"</td>"+
               "<td>"+ (bg_data1[i].name).toUpperCase() +"</td>"+
               "<td>"+ bg_data1[i].bloodgrp +"</td>"+
               "<td><button class='btn btn-success' onclick=\"$('#reqfailModal').modal('show')\">REQUEST</button></td>"+
               "</tr>";
         }
         for(var i=0;i<bg_data2.length;i++)
         {
           x += "<tr>"+
              "<td>"+ (i+1+bg_data1.length) +"</td>"+
               "<td>"+ (bg_data2[i].name).toUpperCase() +"</td>"+
               "<td>"+ bg_data2[i].bloodgrp +"</td>"+
               "<td><button class='btn btn-success' onclick=\"$('#reqfailModal').modal('show')\">REQUEST</button></td>"+
               "</tr>";
         }
         document.getElementById('bg_empty').innerHTML = '';
         document.getElementById('bldgrp_table').innerHTML = x;
      }
      else {
        document.getElementById('bg_empty').innerHTML = '-- No Donors to show --';
        document.getElementById('bg_empty').setAttribute('style','text-align:center;color:red;');
      }
    }
  };
  if (localStorage.chkbox && localStorage.chkbox != '') {
        document.getElementById('chkbox').setAttribute('checked', true);
        document.getElementById('lg_un').value = localStorage.username;
        document.getElementById('lg_pwd').value = localStorage.password;
    } else {
        document.getElementById('chkbox').removeAttribute('checked');
        document.getElementById('lg_un').value = '';
        document.getElementById('lg_pwd').value = '';
    }
  });

  function chekbox()
  {
    if (document.getElementById('chkbox').checked) {
            // save username and password
            localStorage.username = document.getElementById('lg_un').value;
            localStorage.password = document.getElementById('lg_pwd').value;
            localStorage.chkbox = document.getElementById('chkbox').value;
        } else {
            localStorage.username = '';
            localStorage.password = '';
            localStorage.chkbox = '';
        }
  }

	function email_check(x)
	{
	 var email = document.getElementById("email"+x).value;
   var xhttp= new XMLHttpRequest();
   xhttp.open('POST', '/email_check', true);
   xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
   xhttp.send("email="+ email);
   xhttp.onreadystatechange = function(){
     if (this.readyState == 4 && this.status == 200) {
			 if(this.responseText == '0'){
				 a=1;
				 document.getElementById("email_err"+x).innerHTML = '* Email is already registered, Please login from it or register with another email';
			 }
			 else if(this.responseText == '1'){
				 a=0;
				 document.getElementById("email_err"+x).innerHTML = '';
			 }
		 }
	}
}
	function uname_check(x)
	{
		var uname = document.getElementById("uname"+x).value;
		var xhttp= new XMLHttpRequest();
		xhttp.open('POST', '/uname_check', true);
		xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhttp.send("uname="+ uname);
		xhttp.onreadystatechange = function(){
			if (this.readyState == 4 && this.status == 200) {
				if(this.responseText == '0'){
					document.getElementById("uname_err"+x).innerHTML = '* Username is already taken, Please choose another';
					b=1;
				}
				else if(this.responseText == '1'){
					b=0;
					document.getElementById("uname_err"+x).innerHTML = '';
				}
			}
	}
}
function login_check()
{
	var p = document.getElementById('lg_un').value;
	var q = document.getElementById('lg_pwd').value;
	var xhttp = new XMLHttpRequest();
	xhttp.open('POST', '/login', true);
	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.send("username="+ p+"&password="+q);
	xhttp.onreadystatechange = function(){
		if (this.readyState == 4 && this.status == 200) {
			if(this.responseText == '0'){
				document.getElementById("logn_check").innerHTML = '* Username or Password is incorrect';
			}
			else if(this.responseText == '1')
			{
				window.location.href='/home';
			}
		}
}
return false;
}
function forgpass()
{
  var p = document.getElementById('forgemail').value;
  var xhttp = new XMLHttpRequest();
  xhttp.open('POST', '/forgot_password', true);
  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhttp.send("email="+ p);
  xhttp.onreadystatechange = function(){
    if (this.readyState == 4 && this.status == 200) {
      if(this.responseText == '0'){
        document.getElementById("emailerr").innerHTML = '* Provided email address is not registered';
        document.getElementById("emailerr").style.display = 'block';
      }
      else if(this.responseText == '1')
      {
        window.location.href = '/pass_upd';
      }
    }
}
}
</script>
</body>
</html>
