<!DOCTYPE html>
<html>
<head>
	<title>HOME - MEDICULLY</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		.marg{
			margin-left: 5px;
			margin-right: 5px;
		}
		.hov:hover{
			color: white;
			text-shadow: 0.5px 0.5px 0.5px #000;
			text-decoration: none;
		}
		.hov2:hover{
			color: green;
			text-decoration: none;
		}
		body{
			font-family: lato !important;
		}
		.modal {
		    overflow-y: auto;
		}
	</style>
</head>
<body>
<!-- <div id="header">
	<h2 style="text-align: center;font-family: lato;text-shadow: 0.25px 0.25px 0.25px #000;">MEDICULLY</h2>
</div> -->

<div id="menu">
	<nav class="navbar navbar-expand-md" style="background: hsl(0, 0%, 78%);width: 100%">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbarleft">
	      <a href="/home"><img class="navbar-brand" src="/public/logo.PNG" alt="logo"></a>
	      <ul class="navbar-nav mr-auto text-center">
	        <li class="nav-item marg"><a class="nav-link hov" href="/blood_donors">BLOOD DONORS</a></li>
	        <li class="w3-dropdown-hover nav-item marg">
	        	<a class="nav-link hov" href="/about">ABOUT</a>
	        	<ul id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom dropdown-menu">
	              <li><a class="dropdown-item w3-button" href="#">About Us</a></li>
	              <li><a class="dropdown-item w3-button" href="#">Contact Us</a></li>
	            </ul>
	        </li>
	      </ul>
	    </div>
	  <div class="collapse navbar-collapse" id="myNavbarright">
	      <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item marg nav-link" style="color:green;font-size:16px;">Hello&nbsp;&nbsp;<i>DR.<%= name.toUpperCase() %></i></li>
	        <li class="nav-item marg"><a class="nav-link hov" href="/my_profile">PROFILE</a></li>
          <li class="nav-item marg"><a class="nav-link hov" href="/my_request">REQUESTS</a></li>
	        <li class="nav-item marg"><a class="nav-link hov" href="/logout">LOGOUT</a></li>
	      </ul>
	    </div>
			</div>
	  </div>
	</nav>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8  container-fluid" id = 'hbody'>
    <div class="card ml-5 mr-5 mt-3" style="margin-bottom:15px;background:lightgrey;border-radius : 0px;">
    <div class="card-body  text-center">
     <a href="#" class="card-link hov2" data-toggle="modal" data-target="#postquesModal" onclick="event.preventDefault();" data-keyboard="true">
       <img src="/public/add_icon.jpg" class="rounded-circle mr-3" alt="ask quesion" style="width:45px;"><span class="hov2">POST A QUESTION</span>
     </a>
    </div>
  </div>
	<p id="body_empty" style="text-align:center;">
        <img src="/public/loader.gif" alt="loading" class="mx-auto" style="width:55px;margin-top: 200px;margin-bottom: 200px;">
	</p>
	</div>
	<div class="col-sm-2"></div>
</div>
<div class="modal fade" id="postquesModal">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
          <h4 class="modal-title mx-auto">POST QUESTION AS</h4>
        </div>
       <div class="modal-body">
       <p style="text-align:center;color:green;"><a class="hov2" href="#" onclick="event.preventDefault();postqsn(1);"><span class="hov2"><%= name.toUpperCase() %></span></a></p>
       <p style="text-align:center;color:green;"><a class="hov2" href="#" onclick="event.preventDefault();postqsn(0);"><span class="hov2">*ANONYMOUS USER</span></a></p>
       </div>
       <div class="modal-footer">
        <em class="mr-auto">Your personal details are not visible to others even if not posted as *ANONYMOUS USER</em>
       </div>
     </div>
   </div>
</div>
<div class="row container-fluid" style="padding: 10px;background: hsl(0, 0%, 78%);margin-top: 20px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row container-fluid" style="text-align: center;">
      <div class="col-sm-4">
        <h4 style="color: green;">MEDICULLY</h4><br/>
        <p><a href="/home" class="hov">Home</a></p>
        <p><a href="/my_profile" class="hov">Profile</a></p>
        <p><a href="/my_request" class="hov">Requests</a></p>
        <p><a href="/blood_donors" class="hov">Blood Donors</a></p>
      </div>
      <div class="col-sm-4">
        <h4 style="color: green;">ABOUT</h4><br/>
        <p><a href="/about" class="hov">About Us</a></p>
        <p><a href="#" class="hov">Privacy Policy</a></p>
        <p><a href="#" class="hov">Terms Of Service</a></p>
        <p><a href="/about" class="hov">Contact Us</a></p>
      </div>
      <div class="col-sm-4">
         <h4 style="color: green;">CONNECT</h4><br/>
        <p><a href="#" class="hov"><i class="fa fa-facebook-official" style="font-size:25px;cursor:pointer" title="Facebook"></i>&nbsp;&nbsp;Facebook</a></p>
        <p><a href="#" class="hov"><i class="fa fa-instagram" style="font-size:25px;cursor:pointer" title="Instagram"></i>&nbsp;&nbsp;Instagram</a></p>
        <p><a href="#" class="hov"><i class="fa fa-twitter-square" style="font-size:25px;cursor:pointer" title="Twitter"></i>&nbsp;&nbsp;Twitter</a></p>
        <p><a href="#" class="hov"><i class="fa fa-youtube" style="font-size:25px;cursor:pointer;" title="Youtube"></i>&nbsp;&nbsp;Youtube</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="container-fluid">
    <p style="text-align: center;font-size: 17px;"><em>All CopyRights Reserved.<b> Medicully ©2018</b></em></p>
  </div>
</div>
<script type="text/javascript">
var xy='',data = '';
$(document).ready(function(){
  //console.log("inside js");
  var xhttp = new XMLHttpRequest();
  xhttp.open('GET','/qsns_home',true);
  xhttp.send();
  xhttp.onreadystatechange = function(){
  if(this.readyState==4 && this.status == 200){
    data =JSON.parse(this.responseText);
    console.log(data);
      if(data.length != 0)
      {
         for(var i=0;i<data.length;i++)
         {
           xy +='<div class="media ml-5 mr-5 p-3" style="margin-top:15px;margin-bottom:15px;background: lightgrey;border: 0.5px solid rgb(179,179,179);box-shadow:4px 4px 4px rgba(0,0,0,0.5)">'+
				       '<img src="/public/person.jpg" id="q'+ i +'" alt="'+ (data[i].post_as).toUpperCase() +'" class="mr-3 mt-3 rounded-circle" style="width:45px;height:45px;">'+
				       '<div class="media-body">'+
				       '<h6 style="color:green;"><b>';
               if(data[i].post_as != '*ANONYMOUS USER')
               {
                xy += '<a href="/prof_page/'+ data[i].username +'" class = "hov2">'+ (data[i].post_as).toUpperCase() +' </a>';
               }
               else
               {
                 xy += (data[i].post_as).toUpperCase()+'';
               }

               xy += '</b>&nbsp;<small><i style="color:black;"> Posted on <b>'+ data[i].date +'</b></i></small></h6>'+
				       '<p style="background:white;padding:20px;border-radius:3px;">'+ data[i].qsn +'</p>'+
				 			 '<p style="text-align:center;text-decoration:none;"><a class="mx-auto btn btn-success" href="/qsn_answrs/'+data[i]._id+'">VIEW ANSWERS</a></p>'+
				       '</div>'+
						   '</div>';
			if(data[i].post_as != '*ANONYMOUS USER')
           {
            getpicpath(data[i].username,'q'+i);
           }
         }
         document.getElementById('body_empty').innerHTML = '';
         document.getElementById('hbody').innerHTML += xy;
      }
      else {
        document.getElementById('body_empty').innerHTML = '-- No Questions to show --';
        document.getElementById('body_empty').setAttribute('style','text-align:center;margin-top:25px;color:red;font-size:18px;');
      }
    }
  };
  });
function getpicpath(x,y)
  {
  var picpath = '';
  var xhttp = new XMLHttpRequest();
  xhttp.open('GET','/picpath/'+x,true);
  xhttp.send();
  xhttp.onreadystatechange = function(){
  if(this.readyState==4 && this.status == 200){
   picpath =JSON.parse(this.responseText);
   document.getElementById(y).src = picpath;
  }
};
  }
	function postqsn(x)
	{
	  //console.log('inside');
	  var xhttp= new XMLHttpRequest();
	  xhttp.open('POST', '/post_ques', true);
	  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  xhttp.send("type="+ x);
		xhttp.onreadystatechange = function(){
			if (this.readyState == 4 && this.status == 200) {
				if(this.responseText == '1')
				{
					window.location.href = '/question_form';
				}
			}
	 }
	}
</script>
</body>
</html>
