<!DOCTYPE html>
<html>
<head>
	<title>POST QUESTION</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		.marg{
			margin-left: 5px;
			margin-right: 5px;
		}
		.hov:hover{
			color: white;
			text-shadow: 0.5px 0.5px 0.5px #000;
			text-decoration: none;
		}
		.hov2:hover{
			color: green;
			text-decoration: none;
		}
		body{
			font-family: lato !important;
		}
		.modal {
		    overflow-y: auto;
		}
	</style>
</head>
<body>
  <div id="menu" >
  	<nav class="navbar navbar-expand-md" style="background: hsl(0, 0%, 78%);width: 100%">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
  	        <span class="navbar-toggler-icon"></span>
  	      </button>
  	    </div>
  	    <div class="collapse navbar-collapse" id="myNavbarleft">
  	      <a href="/home"><img class="navbar-brand" src="/public/logo.PNG" alt="logo"></a>
  	      <ul class="navbar-nav mr-auto text-center">
  	        <li class="nav-item marg"><a class="nav-link hov" href="/blood_donors">BLOOD DONORS</a></li>
  	        <li class="w3-dropdown-hover nav-item marg">
  	        	<a class="nav-link hov" href="/about">ABOUT</a>
  	        	<ul id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom dropdown-menu">
  	              <li><a class="dropdown-item w3-button" href="#">About Us</a></li>
  	              <li><a class="dropdown-item w3-button" href="#">Contact Us</a></li>
  	            </ul>
  	        </li>
  	      </ul>
  	    </div>
  	  <div class="collapse navbar-collapse" id="myNavbarright">
  	      <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item marg nav-link" style="color:green;font-size:16px;">
              Hello&nbsp;&nbsp;<% if(role == 'doctor'){ %><i class="raju">DR.<%= name.toUpperCase() %></i>
                    <% }else {%><i><%= name.toUpperCase() %></i></li>
                    <% } %>
  	        <li class="nav-item marg"><a class="nav-link hov" href="/my_profile">PROFILE</a></li>
            <li class="nav-item marg"><a class="nav-link hov" href="/my_request">REQUESTS</a></li>
  	        <li class="nav-item marg"><a class="nav-link hov" href="/logout">LOGOUT</a></li>
  	      </ul>
  	    </div>
  			</div>
  	</nav>
  </div>
<div class="row" style="margin-top:20px">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 container-fluid text-center">
    <h2 style="color:green;font-family:lato;">POST QUESTION</h2>
   <form action="/qsn_submit" method="post">
     <div class="form-group">
       <label for="name" style="float:left;">Posting As :</label>
       <input type="text" class="form-control" id="pst_name" name="post_as" value="<%= post_as.toUpperCase() %>" required readonly />
     </div>
     <div class="form-group">
       <textarea type="text" rows="5" class="form-control" id="qsn" placeholder="Enter your question" name="question" required></textarea>
     </div>
     <span><button type="submit" class="btn btn-success mr-4">Submit</button>
		 <a class="btn btn-danger"  href='/home'>Cancel</a></span>
   </form>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="modal fade" id="postsuccModal">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-body">
       <p style="text-align:center;color:green;">POSTED SUCCESSFULLY</p>
       </div>
     </div>
   </div>
</div>
<div class="row container-fluid" style="padding: 10px;background: hsl(0, 0%, 78%);margin-top: 20px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row container-fluid" style="text-align: center;">
      <div class="col-sm-4">
        <h4 style="color: green;">MEDICULLY</h4><br/>
        <p><a href="/home" class="hov">Home</a></p>
        <p><a href="/my_profile" class="hov">Profile</a></p>
        <p><a href="/my_request" class="hov">Requests</a></p>
        <p><a href="/blood_donors" class="hov">Blood Donors</a></p>
      </div>
      <div class="col-sm-4">
        <h4 style="color: green;">ABOUT</h4><br/>
        <p><a href="/about" class="hov">About Us</a></p>
        <p><a href="#" class="hov">Privacy Policy</a></p>
        <p><a href="#" class="hov">Terms Of Service</a></p>
        <p><a href="/about" class="hov">Contact Us</a></p>
      </div>
      <div class="col-sm-4">
         <h4 style="color: green;">CONNECT</h4><br/>
        <p><a href="#" class="hov"><i class="fa fa-facebook-official" style="font-size:25px;cursor:pointer" title="Facebook"></i>&nbsp;&nbsp;Facebook</a></p>
        <p><a href="#" class="hov"><i class="fa fa-instagram" style="font-size:25px;cursor:pointer" title="Instagram"></i>&nbsp;&nbsp;Instagram</a></p>
        <p><a href="#" class="hov"><i class="fa fa-twitter-square" style="font-size:25px;cursor:pointer" title="Twitter"></i>&nbsp;&nbsp;Twitter</a></p>
        <p><a href="#" class="hov"><i class="fa fa-youtube" style="font-size:25px;cursor:pointer;" title="Youtube"></i>&nbsp;&nbsp;Youtube</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
  <div class="container-fluid">
    <p style="text-align: center;font-size: 17px;"><em>All CopyRights Reserved.<b> Medicully ©2018</b></em></p>
  </div>
</div>
<script type="text/javascript">
var a=0, b=0, data=[],x='',bg_data1=[],bg_data2=[];
</script>
</body>
</html>
